<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <head th:include="layout :: htmlhead" th:with="title='Loging page'"></head>
    <style type="text/css">.datepicker .fi-arrow-left:after{content:"<"}.datepicker .fi-arrow-right:after{content:">"}</style>
</head>
<body>
<div th:include="layout :: navbar">(navbar)</div>

<h1>Login page</h1>
<div class="jumbotron">
    <div class="container">
        <div class="row">
        <p th:if="${loginError}" class="error">Wrong user or password</p>
        <form th:action="@{/signIn}" method="post">
            <label for="username">Username </label>:<br />
            <input type="text" id="username" name="username" autofocus="autofocus" /> <br />
            <label for="password">Password</label>:<br />
            <input type="password" id="password" name="password" /> <br />
            <input type="submit" value="Log in" />
        </form>
    </div>
</div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>

</body>
</html>