<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en"
      lang="en">
<head th:include="layout :: htmlhead" th:with="title='Search4Work'"></head>


<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container container-main">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <div class="crane-grid-listing-block">
                <div class="row">
                    <div class="col-md-12">
                        <div class="crane-grid-listing clearfix">
                            <div class="col-md-3 crane-image-block ">
                                <div class="crane-list-img">
                                    <img class="img-responsive" src="https://i.imgur.com/juc2Xwk.png">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="crane-list-content">
                                    <div class="crane-title">
                                        <h3>Best job offers in Estonia, Tartu, Tallinn</h3>
                                    </div>
                                    <div class="crane-phone">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-phone"></i> +372 55555555</li>
                                            <li><i class="fa fa-phone"></i> +372 66666666</li>
                                        </ul>
                                    </div>
                                    <div class="crane-address">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-map-marker"></i></li>
                                            <li>Rüütli tn.</li>
                                            <li>Opposite Eesti Optika</li>
                                            <li>Tartu</li>
                                            <li>13519</li>
                                        </ul>
                                    </div>
                                    <div class="crane-category">
                                        <ul class="list-inline">
                                            <li><a href="#">Cybersecurity</a></li>
                                            <li><a href="#">Crane Towing Service</a></li>
                                            <li><a href="#">Salary starting from 10 000$</a></li>
                                            <li><a href="#">More...</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 padding-b-10 ">
                                <div class="margin-t-40 hidden-xs"></div>
                                <button type="button" class="btn btn-success btn-block"><span
                                        class="glyphicon glyphicon-earphone"></span> Call Now
                                </button>
                                <button type="button" class="btn btn-warning btn-block"><span
                                        class="glyphicon glyphicon-briefcase"></span> Booking
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="crane-grid-listing clearfix">
                            <div class="col-md-3 crane-image-block ">
                                <div class="crane-list-img">
                                    <img class="img-responsive" src="https://i.imgur.com/juc2Xwk.png">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="crane-list-content">
                                    <div class="crane-title">
                                        <h3>Best job offers in Estonia, Tartu, Tallinn</h3>
                                    </div>
                                    <div class="crane-phone">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-phone"></i> +372 55555555</li>
                                            <li><i class="fa fa-phone"></i> +372 66666666</li>
                                        </ul>
                                    </div>
                                    <div class="crane-address">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-map-marker"></i></li>
                                            <li>Rüütli tn.</li>
                                            <li>Opposite Eesti Optika</li>
                                            <li>Tartu</li>
                                            <li>13519</li>
                                        </ul>
                                    </div>
                                    <div class="crane-category">
                                        <ul class="list-inline">
                                            <li><a href="#">Cybersecurity</a></li>
                                            <li><a href="#">Crane Towing Service</a></li>
                                            <li><a href="#">Salary starting from 10 000$</a></li>
                                            <li><a href="#">More...</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 padding-b-10 ">
                                <div class="margin-t-40 hidden-xs"></div>
                                <button type="button" class="btn btn-success btn-block"><span
                                        class="glyphicon glyphicon-earphone"></span> Call Now
                                </button>
                                <button type="button" class="btn btn-warning btn-block"><span
                                        class="glyphicon glyphicon-briefcase"></span> Booking
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="crane-grid-listing clearfix">
                            <div class="col-md-3 crane-image-block ">
                                <div class="crane-list-img">
                                    <img class="img-responsive" src="https://i.imgur.com/juc2Xwk.png">
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="crane-list-content">
                                    <div class="crane-title">
                                        <h3>Best job offers in Estonia, Tartu, Tallinn</h3>
                                    </div>
                                    <div class="crane-phone">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-phone"></i> +372 55555555</li>
                                            <li><i class="fa fa-phone"></i> +372 66666666</li>
                                        </ul>
                                    </div>
                                    <div class="crane-address">
                                        <ul class="list-inline">
                                            <li><i class="fa fa-map-marker"></i></li>
                                            <li>Rüütli tn.</li>
                                            <li>Opposite Eesti Optika</li>
                                            <li>Tartu</li>
                                            <li>13519</li>
                                        </ul>
                                    </div>
                                    <div class="crane-category">
                                        <ul class="list-inline">
                                            <li><a href="#">Cybersecurity</a></li>
                                            <li><a href="#">Crane Towing Service</a></li>
                                            <li><a href="#">Salary starting from 10 000$</a></li>
                                            <li><a href="#">More...</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2 padding-b-10 ">
                                <div class="margin-t-40 hidden-xs"></div>
                                <button type="button" class="btn btn-success btn-block"><span
                                        class="glyphicon glyphicon-earphone"></span> Call Now
                                </button>
                                <button type="button" class="btn btn-warning btn-block"><span
                                        class="glyphicon glyphicon-briefcase"></span> Booking
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>