<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">

<head th:include="layout :: htmlhead" th:with="title='Account | Search4Work'"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container container-main">
	<div class="row">
		<h2>My offers</h2>
		<hr>
		<div class="row" th:each="offer : ${offers}" th:id="'offer' + ${offer.id}">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4 th:text="${offer.title}"></h4>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6" align="right">
				<a id="offerView">
					<!--<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>-->
					<!--<span>View</span>-->
					<button type="button"  class="btn btn-primary a-btn-slide-text" data-toggle="modal" data-target="#myModal">
						<span class="glyphicon glyphicon-eye-open">View</span>
					</button>
					<!---<span type="button" class="glyphicon glyphicon-eye-open" data-toggle="modal" data-target="#myModal">View</span>-->
				</a>
				<a class="btn btn-primary a-btn-slide-text" id="offerEdit">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					<span>Edit</span>
				</a>
				<a class="btn btn-primary a-btn-slide-text" id="offerDelete">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<span>Delete</span>
				</a>
			</div>
			<!--------------MODEL----------------->
				<div class="modal fade" id="myModal" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
							</div>
							<div class="modal-body">
			<!--------------BODY----------------->
			<div class="row" id="offerPreview"></div>
			<!---------------BODY--------------->
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-------------MODEL------------------>
		</div>
	</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
<script th:src="@{/js/account.js}"></script>
</body>
</html>