<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">

<head th:include="layout :: htmlhead" th:with="title=#{title.account}"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container container-main">
	<div class="row">
		<h2 th:text="#{account.myoffers}">(My offers)</h2>
		<hr>
		<div class="row" th:each="offer : ${offers}" th:id="'offer' + ${offer.id}">
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4 th:text="${offer.title}"></h4>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6" align="right">
				<a class="btn btn-primary a-btn-slide-text ajax-button" id="offer-view" data-toggle="modal" data-target="#offer-modal">
					<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					<span th:text="#{account.view}">(View)</span>
				</a>
				<a class="btn btn-primary a-btn-slide-text ajax-button" id="offer-edit">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					<span th:text="#{account.edit}">(Edit)</span>
				</a>
				<a class="btn btn-primary a-btn-slide-text ajax-button" id="offer-delete">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
					<span th:text="#{account.delete}">(Delete)</span>
				</a>
			</div>
        </div>
        
        <div class="modal fade" id="offer-modal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <div class="row" id="offer-preview"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{account.modal.close}">(Close)</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>