<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">

<head th:include="layout :: htmlhead" th:with="title='Account | Search4Work'"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container container-main">
	<div class="row">
		<h2>Admin panel</h2>
		<hr>
		<b>Total users: </b><span th:text="${total}">(total)</span>
	</div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
<script th:src="@{/js/account.js}"></script>
</body>
</html>