<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">
<head th:include="layout :: htmlhead" th:with="title=#{title.signup}"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container container-main">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form method="post" id="fileForm" role="form">
				<div th:if="${success != null}" class="alert alert-success" role="alert" th:text="${success}"></div>
				<div th:if="${error != null}" class="alert alert-danger" role="alert" th:text="${error}"></div>
				
				<h2 th:text="#{signup.title}">(Feel free to Sign Up)
					<small th:text="#{signup.title.small}">(It's free.)</small>
				</h2>
				<hr>
				<div class="form-group">
					<input required type="text" name="username" id="usernameSignUp" class="form-control input-lg" th:placeholder="#{main.username}" title="Username">
				</div>
				<div class="form-group">
					<input required type="email" name="email" id="email" class="form-control input-lg" th:placeholder="#{main.email}" title="Email Address">
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="text" name="firstName" id="firstName" class="form-control input-lg" th:placeholder="#{signup.firstname}" title="First Name">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="text" name="lastName" id="lastName" class="form-control input-lg" th:placeholder="#{signup.lastname}" title="Last Name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="password" name="password" id="passwordSignUp" class="form-control input-lg" th:placeholder="#{main.password}" title="Password" minlength="6">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="password" name="passwordConfirmation" id="passwordConfirmation" class="form-control input-lg" th:placeholder="#{main.password.confirm}" title="Confirm Password">
						</div>
					</div>
				</div>
				
				<input id="register" type="submit" th:value="#{main.signup}" class="btn btn-primary btn-block btn-lg">
			</form>
		</div>
	</div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
<script th:src="@{/js/signup.js}"></script>
</body>
</html>