<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xml:lang="en" lang="en">
<head th:include="layout :: htmlhead" th:with="title=#{title.login}"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container container-main">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form method="post" role="form">
				<h2>Smart-ID <span th:text="#{main.login}"></span></h2>
				<hr>
				<div class="form-group">
					<input required type="text" min="0" step="1" name="identityNumber" id="identityNumber" class="form-control input-lg" th:placeholder="#{login.identitynumber}" title="Identity number">
				</div>
				<input id="login" type="submit" th:value="#{main.login}" class="btn btn-primary btn-block btn-lg">
			</form>
		</div>
	</div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>