<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="htmlhead">
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<meta name="description" content=""/>
	<meta name="author" content=""/>
	
	<title th:text="${title}">(title)</title>
	
	<link rel="shortcut icon" th:href="@{/img/favicon.ico}"/>
	<!--<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}">-->
	<!--<link rel="stylesheet" th:href="@{/webjars/font-awesome/5.0.6/svg-with-js/css/fa-svg-with-js.css}">-->
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
	
	<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
<div th:fragment="navbar">
	<div class="container-fluid">
		<nav class="navbar navbar-default">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#navbar-collapse-2">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="/">Search4Work</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-2">
					<ul class="nav navbar-nav navbar-right">
						<li><a th:href="@{/}">Home</a></li>
						<li><a href="#">About Us</a></li>
						<li sec:authorize="isAuthenticated()"><a th:href="@{/signup}">Register</a></li>
						<li>
							<a class="btn btn-default btn-outline btn-circle" data-toggle="collapse" href="#nav-collapse2"
							   aria-expanded="false" aria-controls="nav-collapse2">Sign in</a>
						</li>
					</ul>
					<div class="collapse nav navbar-nav nav-collapse" id="nav-collapse2">
						<form class="navbar-form navbar-right form-inline" role="form" th:action="@{/login}">
							<div class="form-group">
								<label class="sr-only" for="username">Username</label>
								<input class="form-control" id="username" placeholder="Username" autofocus required/>
							</div>
							<div class="form-group">
								<label class="sr-only" for="password">Password</label>
								<input type="password" class="form-control" id="password" placeholder="Password" required/>
							</div>
							<button type="submit" class="btn btn-success">Sign in</button>
						</form>
					</div>
				</div>
			</div>
		</nav>
	</div>
</div>

<div th:fragment="footer" id="footer">
	<div class="navbar navbar-default navbar-fixed-bottom">
		<div class="container">
			<p class="navbar-text pull-left">© 2018 Search4Work Board</p>
		</div>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
</div>

</body>
</html>