<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='AdBoard HomePage'"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container">
    <div class="row">
        <div class="span8">
            <form action="" method="post" id="fileForm" role="form">
                <fieldset>
                    <legend class="text-center"> Please fill the form below. <span class="req"><small> (* required) </small></span>
                    </legend>

                    <div class="form-group">
                        <label for="firstname"><span class="req">*</span> First name: </label>
                        <input class="form-control" type="text" name="firstname" id="txt" onkeyup="Validate(this)"
                               required/>
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="lastname"><span class="req">* </span> Last name: </label>
                        <input class="form-control" type="text" name="lastname" id="txt" onkeyup="Validate(this)"
                               required/>
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="username"><span class="req">* </span> User name:</label>
                        <input class="form-control" type="text" name="username" id="txt" onkeyup="Validate(this)"
                               required/>
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="email"><span class="req">* </span> Email Address: </label>
                        <input class="form-control" required type="text" name="email" id="email"
                               onchange="email_validate(this.value);"/>
                        <div class="status" id="status"></div>
                    </div>


                    <div class="form-group">
                        <label for="password"><span class="req">* </span> Password: </label>
                        <input required name="password" type="password" class="form-control inputpass" minlength="4"
                               maxlength="16" placeholder="Min lenght is 4" id="pass1"/> </p>

                        <label for="password"><span class="req">* </span> Password Confirm: </label>
                        <input required name="password" type="password" class="form-control inputpass" minlength="4"
                               maxlength="16" placeholder="Enter again to validate" id="pass2"
                               onkeyup="checkPass(); return false;"/>
                        <span id="confirmMessage" class="confirmMessage"></span>
                    </div>

                    <div class="form-group">

                        <?php //$date_entered = date('m/d/Y H:i:s'); ?>
                        <input type="hidden" value="<?php //echo $date_entered; ?>" name="dateregistered">
                        <input type="hidden" value="0" name="activate"/>
                        <hr>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register">
                    </div>
                </fieldset>
            </form>

            <script type="text/javascript">
                document.getElementById("field_terms").setCustomValidity("Please indicate that you accept the Terms and Conditions");
            </script>
        </div>
    </div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>