<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead" th:with="title='Sign Up | Search4Work'"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<form method="post" id="fileForm" role="form">
				<div th:if="${successMessage != null}" class="alert alert-success" role="alert" th:text="${successMessage}"></div>
				<div th:if="${errorMessage != null}" class="alert alert-danger" role="alert" th:text="${errorMessage}"></div>
				
				<h2>Feel free to Sign Up
					<small>It's free.</small>
				</h2>
				<hr>
				<div class="form-group">
					<input required type="text" name="username" id="usernameSignUp" class="form-control input-lg"
						   placeholder="Username">
				</div>
				<div class="form-group">
					<input required type="email" name="email" id="email" class="form-control input-lg"
						   placeholder="Email Address">
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="text" name="firstName" id="firstName" class="form-control input-lg"
								   placeholder="First Name">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="text" name="lastName" id="lastName" class="form-control input-lg"
								   placeholder="Last Name">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="password" name="password" id="passwordSignUp" class="form-control input-lg"
								   placeholder="Password" minlength="6">
						</div>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6">
						<div class="form-group">
							<input required type="password" name="passwordConfirmation" id="passwordConfirmation"
								   class="form-control input-lg" placeholder="Confirm Password">
						</div>
					</div>
				</div>
				
				<input id="register" type="submit" value="Register" class="btn btn-primary btn-block btn-lg">
			</form>
		</div>
	</div>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
<script th:src="@{/js/signup.js}"></script>
</body>
</html>