<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xml:lang="en" lang="en">
<head th:include="layout :: htmlhead" th:with="title='AdBoard HomePage'"></head>

<body>
<div th:include="layout :: navbar">(navbar)</div>

<div class="container">
	<table class="table table-borderless">
		<tbody>
		<tr>
			<td align="middle"><h3>Job for a day or a year</h3></td>
			<td align="middle"><h3>Thousands of workers search every day</h3></td>
		</tr>
		<tr>
			<td align="middle"><a href="#" class="btn btn-lg btn-success">I want to work <i
					class="fas fa-arrow-circle-up"></i></a></td>
			<td align="middle"><a href="#" class="btn btn-lg btn-info">I need workers <i
					class="fas fa-arrow-circle-down"></i></a></td>
		</tr>
		</tbody>
	</table>
</div>

<div th:include="layout :: footer" id="footer">(footer)</div>
</body>
</html>